spring:
datasource:
  driver-class-name: org.h2.Driver
  url: jdbc:h2:mem:test;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
  username: sa
  password:
jpa:
  hibernate:
    ddl-auto: create-drop
  database-platform: org.hibernate.dialect.PostgreSQLDialect
  properties:
    hibernate:
      show_sql: true
    format_sql: true
h2:
  console:
    enabled: true
security:
  oauth2:
    client:
      registration:
        google:
          client-id: test
          client-secret: test
          scope:
            - profile
            - email