spring:
  profiles:
    active: local
    include:
      - jwt
      - api
      - oauth2

  #  datasource:
  #    url: jdbc:postgresql://postgresql:5432/startrip
  #    username: postgres
  #    password: postgres

  hikari:
    maximum-pool-size: 4

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        show_sql: true
      format_sql: true

logging:
  config: classpath:log4j2.yml
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
