spring:
<<<<<<< HEAD
  profiles:
    active: local
    include:
      - jwt

  datasource:
    url: jdbc:postgresql://localhost:5432/startrip
    username: postgres
    password: postgres

    hikari:
      maximum-pool-size: 4
  jpa:
=======
  h2:
    console:
      enabled: true

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
>>>>>>> parent of 5e2ddd7 (Revert "complete the story #10")
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        show_sql: true
        format_sql: true

logging:
  config: classpath:log4j2.xml
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
