<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="debug">
    <Properties>
        <!-- <Property name="LOG_PATTERN">%d{HH:mm:ss.SSSZ} [%t] %-5level %logger{36} - %msg%n</Property> -->
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSSZ} [%t] %msg%n</Property>

    </Properties>

    <Appenders>
        <Console name="STARTrip_ConsoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
        </Console>

        <RollingFile name="STARTrip_FileLog"
                     fileName="./logs/STARTrip.log"
                     filePattern="./logs/STARTrip-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="10000KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" fileIndex="min" />
        </RollingFile>
    </Appenders>


    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="STARTrip_ConsoleLog" />
            <AppenderRef ref="STARTrip_FileLog" />
        </Root>
        <Logger name="com.startrip.codebase.controller.UserController.TestLogService" level="warn" additivity="false">
            <AppenderRef ref="STARTrip_ConsoleLog" />
            <AppenderRef ref="STARTrip_FileLog" />
        </Logger>
    </Loggers>
</Configuration>